<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <div class="text-layout">
  <h1>{{ name | titlecase }}</h1>
  <h1>{{ value | number }}</h1>
  <h1>{{ obj | json }}</h1>

  <button
    pButton
    (click)="showName()"
    label="Change Name"
    class="p-button-help"
    icon="pi pi-check"
    iconPos="right"
  ></button>

  <p-card [header]="name | titlecase" subheader="This is a subheader">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
    praesentium voluptatibus perspiciatis fugiat obcaecati ratione corporis
    fugit? Facilis itaque provident in fugiat possimus eveniet pariatur neque
    dolor tempora, hic assumenda.
  </p-card>
</div> -->
